* {
  box-sizing: border-box;
}

header {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #33bd5a;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.title {
  float: left;
}

nav {
  float: right;
  margin: 20px;
}

a {
    margin: 5px;
}
